
/* page setup */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

/* text colors and backgrounds */

.white-text{
    color: #FFFFFF;
}

.bg-lightblue{
    background-color: #47adf1;
}

.bg-white{
    background-color: #FFFFFF;
}

.bg-purple{
    background-color: #9c72e4;
}

.bg-green{
    background-color: #64c0a9;
}

.bg-orange{
    background-color: #f19d32;
}

.bg-pink{
    background-color: #d863a1;
}

.bg-lightgreen{
    background-color: #b0c926;
}


/* header */

header{
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
}

h1 {
    font-size: 2.5em;
}

/* main */

main{
    margin: 50px 25% 50px 25%;
    border-radius: 5px;

}

section{
    border-bottom: 2px solid #f6f8f9;
    padding: 15px 0px 10px 50px;

}

section>button{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.blue-button{
    border-color: transparent;
}


.grey-button{
    color: #ccd1d5;
    background-color: #FFFFFF;
    border: 1px solid #ccd1d5;
}



/* lists */

.list{
    padding: 20px 5px 10px 40px;
    list-style: none;
}


.section-name{
    font-size: 1.5em;
    font-weight: bold;
    display: inline;

}

li{
    margin: 15px 5px 10px 0px;
}


/* entities and specials */

.downward-triangle {
    height: 10px; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
  } 


.success-checkmark::before{
    content: '\2713';
    font-size: 0.8em;
    color: green;
    padding: 2px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid green;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.fail-checkmark::before{
    content: '\2717';
    font-size: 0.8em;
    color: red;
    padding: 2px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    border: 1px solid red;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}


.badge{
    display: inline-block;
    font-size: 0.6em;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 15px;
}
