*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ul {
    list-style: none; --> to disable dotted list 
}*/


body{
    background-color: #f6f8f9;
}


/* header */

header, main{
    background-color: #FFFFFF;
}

h1 {
    display: inline;
    font-style: arial;
    font-size: 2.5em;
}

/* main */

main{
    margin: 50px 25% 50px 25%;
    border-radius: 5px;

}

section{
    border-bottom: 2px solid #f6f8f9;
    padding: 10px 5%;
}

section>button{
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 5px;
}

.blue-button{
    background-color: #47adf1;
    border-color: transparent;
    color: #FFFFFF;
}


.grey-button{
    color: #ccd1d5;
    background-color: #FFFFFF;
    border: 1px solid #ccd1d5;
}










/* .white-text{
    color: #FFFFFF;
}

.grey-text{
    color: #808080;
}


.bg-lightblue{
    background-color: #47adf1;
}

.bg-purple{
    background-color: #9c72e4;
}

.bg-green{
    background-color: #64c0a9;
}

.bg-orange{
    background-color: #f19d32;
}

.bg-pink{
    background-color: #d863a1;
}

.bg-lightgreen{
    background-color: #b0c926;
}

/*

/* temporary handmade symbols */

/*  
.success-checkmark::before {
      content: 'V';
      color: green;
      padding: 2px;
      width: 20px;
      height: 20px;
      text-align: center;
      border: 2px solid green;
      border-radius: 50%;
}


.fail-checkmark::before{
    content: 'X';
    color: red;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: 2px solid red;
    text-align: center;
    border-radius: 50%;
}


.downward-triangle {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #000;
  } 
  */